.pizza-card {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 60vw;
  row-gap: 40px;
  margin: 60px auto;
  width: 100%;

  .card:nth-child(4n+1){
    justify-self: start;
  }
  .card:nth-child(4n+2){
    justify-self: center;
  }
  .card:nth-child(4n+3) {
    justify-self: center;
  }
  .card:nth-child(4n+4) {
    justify-self: end;
  }
}
